.list-store {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.list-title {
  margin-bottom: 99px;
  font-size: 25px;
}

.info-list {
  margin-bottom: 26px;
}

.description-list {
  margin-top: 73px;
  margin-bottom: 26px;
  width: 555px;
}

.about-list .-link {
  text-decoration: none;
  color: #fff;
}

.about-list {
  margin-bottom: 99px;
}

.button-list {
  display: inline-block;
}

dd:last-child {
  display: inline-block;
}

dt:last-child {
  display: inline-block;
}

.img-title {
  width: 540px;
  height: 540px;
  background-color: #fff;
}

.container-content {
  display: flex;
  margin-top: 154px;
}

.section1 {
  background-color: #fff;
  width: 600px;
  height: 575px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 157px;
}
